<!--prettier-ignore-->
{% extends "mail/layout.html" %} 
{% load static %} 
{% block body %}

<h2>{{ request.user.email }}</h2>

<button class="btn btn-sm btn-outline-primary" id="inbox">
  <i class="fa-solid fa-inbox icon"></i>Inbox
</button>
<button class="btn btn-sm btn-outline-primary" id="compose">
  <i class="fa-solid fa-pen-to-square icon"></i>Compose
</button>
<button class="btn btn-sm btn-outline-primary" id="sent">
  <i class="fa-solid fa-envelope-circle-check icon"></i>Sent
</button>
<button class="btn btn-sm btn-outline-primary" id="archived">
  <i class="fa-solid fa-box-archive icon"></i>Archived
</button>
<a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}"
  ><i class="fa-solid fa-right-from-bracket icon"></i>Log Out</a
>
<button class="btn btn-sm btn-outline-primary" style="float: right" id="home">
  <i class="fa-solid fa-house-user icon"></i>Home
</button>
<hr />

<div id="emails-view"></div>

<div id="particular-email-view"></div>

<div id="compose-view">
  <h3>New Email</h3>
  <form id="compose-form">
    <div class="form-group">
      <b style="font-weight: 600">From: </b>
      <input
        disabled
        class="mailfield-all no-hover"
        value="{{ request.user.email }}"
      />
    </div>
    <div class="form-group">
      <b style="font-weight: 600">To: </b
      ><input id="compose-recipients" class="mailfield-all no-hover" />
    </div>
    <div class="form-group">
      <input
        class="mailfield-all no-hover"
        id="compose-subject"
        placeholder="Subject"
      />
    </div>
    <textarea
      class="mailfield-all no-hover"
      id="compose-body"
      placeholder="Body"
    ></textarea>
  </form>
  <button id="compose-submit" class="btn btn-outline-primary">Submit</button>
</div>
<!--prettier-ignore-->
{% endblock %} 

{% block script %}
<script type="module" src="{% static 'mail/inbox.js' %}"></script>
<script type="module" src="{% static 'mail/convert_time.js' %}"></script>

{% endblock %}
